<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="googlebot" content="noindex">
    <meta name="robots" content="noindex">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="{{ '/assets/manifest/marketmann.manifest' | absolute_url }}">
    
    <meta name="Description" content="{{ page.description }}">

    <link rel="shortcut icon" href="{{ 'favicon.ico' | absolute_url }}" type="image/x-icon">


    <script type="text/javascript" src="{{ '/assets/js/vendor/lunr.min.js' | absolute_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/just-the-docs.js' | absolute_url }}"></script>

    <!-- RIGHT SIDEBAR -->
    <link rel="stylesheet" type="text/css" href="{{ '/assets/right-sidebar/right-sidebar-&-layout-original.css' | absolute_url }}">
    <!-- END RIGHT SIDEBAR -->

    <!-- NAVGOCO -->
    <!-- Load JQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Load jquery - COOKIE plugin -->
    <script type="text/javascript" src="{{ '/assets/navgoco/jquery.cookie.js' | absolute_url }}"></script>
    <!-- Load jquery - NAVGOCO plugin - JAVASCRIPT -->
    <script type="text/javascript" src="{{ '/assets/navgoco/jquery.navgoco.js' | absolute_url }}"></script>
    <!-- Load jquery - NAVGOCO plugin -  CSS - I'VE PUT THIS CSS in /assets/nav.css
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/navgoco/jquery.navgoco.css' | absolute_url }}" /> 
    <!-- END NAVGOCO ------>

    <!--NAV - CSS - FOR JUST-THE-DOCS AND NAVGOCO -->
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/navgoco.css' | absolute_url }}">
    <!--END-->
</head>
