  <ul id="navsmigoco" class="navigation-list nav">
      {%- assign pages_list = site.html_pages | sort:"nav_order" -%}
      {%- for node in pages_list -%}
      {%- unless node.nav_exclude -%}
      {%- if node.parent == nil -%}
      <li class="navigation-list-item{% if page.url == node.url or page.parent == node.title or page.grand_parent == node.title %} active{% endif %}">
          {%- if page.parent == node.title or page.grand_parent == node.title -%}
          {%- assign first_level_url = node.url | absolute_url -%}
          {%- endif -%}
          <a href="{{ node.url | absolute_url }}" class="navigation-list-link{% if page.url == node.url %} active{% endif %}">{{ node.title }}</a>
          {%- if node.has_children -%}
          {%- assign children_list = site.html_pages | where: "parent", node.title | sort:"nav_order" -%}
          <ul class="navigation-list-child-list ">
              {%- for child in children_list -%}
              <li class="navigation-list-item {% if page.url == child.url or page.parent == child.title %} active{% endif %}">
                  {%- if page.url == child.url or page.parent == child.title -%}
                  {%- assign second_level_url = child.url | absolute_url -%}
                  {%- endif -%}
                  <a href="{{ child.url | absolute_url }}" class="navigation-list-link{% if page.url == child.url %} active{% endif %}">{{ child.title }}</a>
                  {%- if child.has_children -%}
                  {%- assign grand_children_list = site.html_pages | where: "parent", child.title | sort:"nav_order" -%}
                  <ul class="navigation-list-child-list">
                      {%- for grand_child in grand_children_list -%}
                      <li class="navigation-list-item {% if page.url == grand_child.url %} active{% endif %}">
                          <a href="{{ grand_child.url | absolute_url }}" class="navigation-list-link{% if page.url == grand_child.url %} active{% endif %}">{{ grand_child.title }}</a>
                      </li>
                      {%- endfor -%}
                  </ul>
                  {%- endif -%}
              </li>
              {%- endfor -%}
          </ul>
          {%- endif -%}
      </li>
      {%- endif -%}
      {%- endunless -%}
      {%- endfor -%}
  </ul>

  <script type="text/javascript">
      $(document).ready(function() {
          $('#navsmigoco').navgoco({
              caretHtml: '<svg class="navgoco-arrow" width="54" height="32" viewBox="0 0 54 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path class="svg-arrow" d="M31.4426 29.4261L52.1798 8.68891C53.8536 7.01503 53.8536 4.30114 52.1798 2.62727C50.5059 0.953391 47.792 0.953388 46.1181 2.62726L29.1931 19.5522C28.091 20.6543 26.3041 20.6543 25.202 19.5522L7.96234 2.31274C6.15871 0.509137 3.23717 0.500476 1.42288 2.29335C-0.4067 4.10134 -0.415455 7.05293 1.40337 8.87175L21.9577 29.4261C24.5769 32.0453 28.8234 32.0453 31.4426 29.4261Z" fill="#888888" /></svg>',
              accordion: true,
              openClass: 'open',
              save: true,
              cookie: {
                  name: 'navgoco',
                  expires: false,
                  path: '/'
              },
              slide: {
                  duration: 200,
                  easing: 'swing'
              }
          });
      });

  </script>

  <!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.
<script>$("li.nav-active").parents('li').toggleClass("nav-active");</script>-->
