    <!--RIGHT SIDEBAR-->
    <div class="right-sidebar" id="js-pushed-sidebar">
      <div class="hypothesis-container">
        <!-- hypothesis will be placed here -->
      </div>
    </div>

    <!--BUTTON CONTAINER-->
    <div class="right-sidebar-button-container">
      <button class="right-sidebar-toggle" id="js-toggle-button">
        <div class="sidebar-out">
          <svg width="100%" height="100%" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.80705 9.40539L1.09995 8.69829L1.09995 8.69829L1.80705 9.40539ZM10.486 2.1407C10.8765 1.75018 10.8765 1.11701 10.486 0.726487C10.0954 0.335963 9.46227 0.335963 9.07175 0.726487L10.486 2.1407ZM9.07175 19.4985C9.46227 19.889 10.0954 19.889 10.486 19.4985C10.8765 19.108 10.8765 18.4748 10.486 18.0843L9.07175 19.4985ZM1.80705 10.8196L2.51416 10.1125L2.51416 10.1125L1.80705 10.8196ZM2.51416 10.1125L10.486 2.1407L9.07175 0.726487L1.09995 8.69829L2.51416 10.1125ZM10.486 18.0843L2.51416 10.1125L1.09995 11.5267L9.07175 19.4985L10.486 18.0843ZM1.09995 8.69829C0.318899 9.47933 0.318897 10.7457 1.09995 11.5267L2.51416 10.1125L2.51416 10.1125L1.09995 8.69829Z" fill="white" />
          </svg>
        </div>
        <div class="sidebar-in">
          <svg width="100%" height="100%" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.48592 8.9718L10.193 8.26469L10.193 8.26469L9.48592 8.9718ZM0.80701 1.70711C0.416485 1.31658 0.416485 0.683418 0.807009 0.292893C1.19753 -0.0976311 1.8307 -0.0976311 2.22122 0.292893L0.80701 1.70711ZM2.22122 19.0649C1.8307 19.4554 1.19753 19.4554 0.80701 19.0649C0.416485 18.6744 0.416485 18.0412 0.807009 17.6507L2.22122 19.0649ZM9.48592 10.386L8.77881 9.6789L8.77881 9.6789L9.48592 10.386ZM8.77881 9.67891L0.80701 1.70711L2.22122 0.292893L10.193 8.26469L8.77881 9.67891ZM0.807009 17.6507L8.77881 9.6789L10.193 11.0931L2.22122 19.0649L0.807009 17.6507ZM10.193 8.26469C10.9741 9.04574 10.9741 10.3121 10.193 11.0931L8.77881 9.6789L8.77881 9.67891L10.193 8.26469Z" fill="white" />
          </svg>
        </div>
      </button>
      <button class="local-storage-button" onclick="localStorage.clear(); alert('localStorage has been cleared');">
        <svg width="90%" height="90%" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17 17L1 1M17 1L1 17" stroke="white" stroke-width="2" stroke-linecap="round" />
        </svg>

      </button>
    </div>

    <!--HYPOTHESIS SCRIPTS -->
    <script>
      const bodyElem = document.querySelector('body');
      window.hypothesisConfig = function() {
        return {
          onLayoutChange: function(info) {
            if (info.expanded) {
              bodyElem.classList.add('is-open');
            } else {
              bodyElem.classList.remove('is-open');
            }
          },
          externalContainerSelector: '.hypothesis-container',
          branding: {
            accentColor: 'red',
            appBackgroundColor: '#0000',
            ctaBackgroundColor: '',
            ctaTextColor: '',
            selectionFontFamily: 'Garamond, serif',
            annotationFontFamily: ''
          }
        }
      }

    </script>
    <script src="https://hypothes.is/embed.js" async></script>
    <script>
      // we're looking for an element `.annotator-frame`
      var hypothesisElemSelector = '.annotator-frame';
      document.addEventListener('DOMContentLoaded', function() {});

      function listenForHypothesis() {
        // Select the node that will be observed for mutations
        const targetNode = document.querySelector(hypothesisElemSelector);
        // Options for the observer (which mutations to observe)
        const config = {
          attributes: true,
          childList: false,
          subtree: false
        };
        // Callback function to execute when mutations are observed
        const callback = function(mutationsList, observer) {
          for (let mutation of mutationsList) {
            if (mutation.type === 'attributes' && mutation.attributeName === 'class') {
              console.log('The ' + mutation.attributeName + ' attribute was modified.');
              if (targetNode.classList.contains('annotator-collapsed')) {
                bodyElem.classList.remove('is-open');
                console.log('Collapsed!')
              } else {
                console.log('Open!');
                // check if we should open
                bodyElem.classList.add('is-open');
              }
            }
          }
        };
        // Create an observer instance linked to the callback function
        const observer = new MutationObserver(callback);
        // Start observing the target node for configured mutations
        observer.observe(targetNode, config);
      }

      function initHypothesisWatcher() {
        var timer;
        if (!document.querySelector(hypothesisElemSelector)) {
          console.log('Did not find hypothesis; retrying in 1 second.');
          // cancel timer and retry
          if (timer) {
            window.clearTimeout(timer);
          }
          timer = window.setTimeout(function() {
            initHypothesisWatcher();
          }, 1000);
        } else {
          console.log('Found hypothesis! :D')
          // kill timers
          if (timer) {
            window.clearTimeout(timer);
          }
          // ready, lanch the listner
          listenForHypothesis();
        }
      }

    </script>
    <!--END HYPOTHESIS SCRIPTS -->


    <!--RIGHT SIDEBAR --FUNCTION & LOCAL STORAGE - JAVASCRIPT -->
    <script>
      // Clear the console so that we can clearly see what's being logged
      console.clear();

      /**
       * Define the elements we will be working with.
       * ---
       * NOTE: #id selectors are used over .classes because jQuery will use the
       *       .getElementByID() method to traverse the DOM, which is much faster.
       */
      var $toggleButton = $('#js-toggle-button');
      var $pushSelectors = $('#js-push-content, #js-pushed-sidebar');

      // Set up an empty global variable to store the state later
      var sidebarIsOpen;

      // -----------------------------------------------------------------------------

      /**
       * Default state for the sidebar.
       * ---
       * NOTE: Use "true" to set the sidebar to be open by default, and "false" to set
       *       it to be closed by default.
       */
      var openSidebarOnLoad = false;

      // -----------------------------------------------------------------------------

      // Set up a function to be used by the click event on $toggleButton
      function toggleSidebar() {

        /**
         * Alternate sidebarIsOpen between true/false on each click.
         * ---
         * NOTE: This needs to happen before checking if the sidebar is open so that
         *       the localStorage items will be added in the right sequence.
         */
        sidebarIsOpen = !sidebarIsOpen;

        // Check if the content has the "open-on-load" class
        if ($pushSelectors.hasClass('oooopen-on-load')) {

          // If it does, remove the class so that we can add the "open" class later
          $pushSelectors.removeClass('oooopen-on-load');

          // Let's send a message to the console to let us know what happened
          console.log('The \'oooopen-on-load\' class has been removed.');

        }

        // Check if the sidebar should be open
        if (sidebarIsOpen) {

          /**
           * If the sidebar should be open, we'll add a class to the content to
           * animate the sidebar into the "open" position.
           */
          $pushSelectors.addClass('oooopen');

          /**
           * We will also add the "opened" state to a localStorage item. This is the
           * property that tells the browser that the menu should be open.
           * ---
           * NOTE: localStorage will only store strings, we can use "opened" and
           *       "closed" as values to determine which state should be set.
           */
          localStorage.setItem('sidebar', 'opened');
          //                          ^             ^
          //                         key          value

          // And send a message to the console to let us know...
          console.log('The \'opened\' storage item has been set.');

        } else {

          /**
           * If the sidebar should not be open, we'll remove the "open" class from
           * the content which will animate the sidebar back into the
           * "closed" position.
           */
          $pushSelectors.removeClass('oooopen');

          // Now set the storage item to "closed"...
          localStorage.setItem('sidebar', 'closed');

          // And send a message to the console to let us know...
          console.log('The \'closed\' storage item has been set.');

        }
      }

      // Next we'll need to check if the storage item exists at all
      if (localStorage.getItem('sidebar') === null) {

        /**
         * If it doesn't, this means that our dear user has not yet visited the page,
         * so we should set the state to what ever the default state is.
         * ---
         * NOTE: This will also be the case if the user's browser is set to reject
         *       cookies, which includes localStorage.
         */
        sidebarIsOpen = openSidebarOnLoad;

        // And send a message to the console to let us know...
        console.log('The default state is ' + openSidebarOnLoad);

      } else {

        // If the storage item does exist, and the value is set to "opened"...
        if (localStorage.getItem('sidebar') === 'opened') {

          // Set the state to open
          sidebarIsOpen = true;

          // And send a message to the console to let us know...
          console.log('The \'opened\' storage item is set; the sidebar should be open.');

        } else {

          // Otherwise, the value should be "closed"; set the state accordingly
          sidebarIsOpen = false;

          // And send a message to the console to let us know...
          console.log('The \'closed\' storage item is set; the sidebar should be closed.');

        }
      }

      // Does the "opened" storage item exist, or is the default state true?
      if (sidebarIsOpen) {

        /**
         * If so, the sidebar should be open when the page loads, so add the
         * "open-on-load" class to content to animate the sidebar into position.
         */
        $pushSelectors.addClass('oooopen-on-load');

        // Let's have the console tell us what's happening...
        console.log('The \'oooopen-on-load\' class has been added.');

      }

      /**
       * Finally, fire the toggleSidebar function on each click.
       * ---
       * NOTE: This is called last so that the script will first check against all
       *       other conditions, before doing any actual toggling.
       */
      $toggleButton.on('click', toggleSidebar);

    </script>
