/*****
 CSSUSED FOR EVERYTHING 
 *****/
/*! CSS Used from: https://static.xx.fbcdn.net/rsrc.php/v3/yP/l/0,cross/jzR3K-ZjE-6.css?_nc_x=hj4GbUMuc5X */
button {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

strong {
    font-weight: 600;
}

a {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
}

button {
    margin: 0;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

#facebook .accessible_elem {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

*::-webkit-input-placeholder {
    color: #606770;
}

*:focus::-webkit-input-placeholder {
    color: #bec3c9;
}

#facebook ._-kb div {
    font-family: inherit;
}

#facebook ._-kb span {
    font-family: inherit;
}

#facebook ._-kb a {
    font-family: inherit;
}

#facebook ._-kb button {
    font-family: inherit;
}

._19_u :focus {
    outline: none !important;
}

i.img {
    -ms-high-contrast-adjust: none;
}

div._3qw {
    height: auto;
    left: 0;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 400;
}

._3ixn {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

._3qw ._3ixn {
    background-color: rgba(255, 255, 255, .8);
}

._4-hy ._3ixn {
    background-color: rgba(0, 0, 0, .4);
}

.uiLayer {
    outline: none;
}

._7tvm {
    overflow: visible;
    position: relative;
}

._4yee {
    display: block;
}

._4yef {
    display: inline-block;
}

._4rhp {
    display: inline-block;
}

._h6r {
    vertical-align: text-top;
}

._231w,
._231w:hover {
    max-width: 100%;
    text-decoration: none;
}

._231z:hover {
    text-decoration: underline;
}

._4ik4 {
    overflow: hidden;
    white-space: normal;
}

._4ik4:before {
    content: '';
    float: left;
    height: 100%;
    position: relative;
    width: 5px;
}

._4ik5._4ik4:before {
    display: none;
}

._4ik5._4ik4 {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    float: none;
}

._3qn7 {
    display: flex;
}

._2fyi {
    flex-direction: row;
}

._2fyh {
    flex-direction: column;
}

._61-0 {
    justify-content: flex-start;
}

._61-3 {
    justify-content: space-between;
}

._3qng {
    align-items: center;
}

._3qnf {
    align-items: flex-start;
}

._3-8h {
    margin: 4px;
}

._3-8i {
    margin: 8px;
}

._3-8o {
    margin-bottom: 12px;
    margin-top: 12px;
}

._3-8r {
    margin-left: 4px;
    margin-right: 4px;
}

._3-8w {
    margin-top: 4px;
}

._3-8x {
    margin-top: 8px;
}

._3-8- {
    margin-top: 20px;
}

._3-95 {
    margin-bottom: 8px;
}

._3-96 {
    margin-bottom: 12px;
}

._3-9a {
    margin-left: 8px;
}

._4m0t {
    margin-left: 24px;
}

.sp_3YxdNwDryIQ_2x {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yu/r/cuVQhLJYjkP.png);
    background-size: 65px 796px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 12px;
    width: 12px;
}

.sp_3YxdNwDryIQ_2x.sx_ba11e6 {
    width: 16px;
    height: 16px;
    background-position: -17px -672px;
}

.sp_xDJV-KAZzzv_2x {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yL/r/I2RUh-IwVCH.png);
    background-size: 500px 198px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 12px;
    width: 12px;
}

.sp_xDJV-KAZzzv_2x.sx_f998be {
    background-position: -205px -181px;
}

/*! CSS Used from: https://static.xx.fbcdn.net/rsrc.php/v3/y1/l/0,cross/F0iyIRphkCT.css?_nc_x=hj4GbUMuc5X */
.alyzeyk7 {
    margin-top: -8px;
}

.daun3cdb {
    margin-bottom: -8px;
}

.icik5mi5 {
    margin-left: 4px;
}

.qo4j1dvg {
    flex-shrink: 0;
}

.s916jpeb {
    margin-right: 0;
}

.ncgymyjm:hover {
    opacity: .5;
}

.hx7khpap:focus {
    opacity: .5;
}

/*! CSS Used from: https://static.xx.fbcdn.net/rsrc.php/v3/yd/l/0,cross/lHQG5OgTq73.css?_nc_x=hj4GbUMuc5X */
._3dtr {
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

/*! CSS Used from: https://static.xx.fbcdn.net/rsrc.php/v3/yE/l/0,cross/-MtqEtrPlrq.css?_nc_x=hj4GbUMuc5X */
._4ra7 {
    bottom: 0;
    left: 0;
    overflow: scroll;
    position: absolute;
    right: 0;
    top: 0;
}

/*! CSS Used from: https://static.xx.fbcdn.net/rsrc.php/v3/yn/l/0,cross/_1EMbfkNhXt.css?_nc_x=hj4GbUMuc5X */
._8xpp {
    padding-top: 12px;
    width: 100%;
}

._8xao {
    align-items: center;
}

._8xpq {
    align-items: center;
    display: flex;
    height: 20px;
    padding: 4px 0 4px 0;
}

._8xaz {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 12px;
}

._8xb4 {
    align-items: center;
}

._8xpo {
    height: 16px;
    margin-left: 4px;
    padding-top: 4px;
}

._8goz {
    margin-bottom: 32px;
}

._8goz ._8go_ {
    background-color: #fff;
    position: relative;
}

._8nsi {
    align-items: center;
    display: flex;
}

._8nsi._8nqo {
    margin: 12px;
}

._95et {
    background-color: lightgrey;
    border: 1px solid #e9eaeb;
    border-radius: 50%;
    margin-right: 8px;
    padding: 4px;
}

._8nrv {
    color: #606770;
}

._8nqo ._8nrv {
    font-size: 12px;
    line-height: 16px;
}

._8nrw {
    color: #929598;
    font-size: 11px;
    line-height: 12px;
    margin-top: 4px;
    width: 100%;
}

._8nqr {
    width: 100%;
}

._8nqn {
    margin-left: auto;
    margin-right: 8px;
}

._7jyg {
    background-color: #fff;
}

._7jyi {
    border-bottom: 1px solid #e9eaeb;
    border-radius: 8px 8px 0 0;
    padding: 0 0 12px 0;
}

._7jyr {
    white-space: normal;
}

._7jyi ._7jyr {
    font-size: 14px;
    line-height: 20px;
    margin: 8px 4px 8px 12px;
}

._7j1n {
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 1150px;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    ._7j1n {
        border-radius: 0;
        width: 100%;
    }
}

._7jg3 {
    display: flex;
    padding-top: 72px;
    position: relative;
}

._7jg4 {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    overflow: hidden;
    width: 539px;
}

._7jgb {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 24px 16px 24px;
    margin-left: 24px;
    margin-right: 24px;
    width: 539px;
}

._7jgb._7r3u {
    border: 1px solid #e9eaeb;
    border-radius: 8px;
    box-shadow: #E9EAEB 0 0 2px 0;
}

._7jg5 {
    border: 1px solid #e9eaeb;
    border-radius: 8px;
    box-shadow: #E9EAEB 0 0 2px 0;
    box-sizing: border-box;
    margin-bottom: 8px;
    overflow: auto;
    position: relative;
}

._7kvv {
    border-top: 1px solid #e9eaeb;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

._7kvy {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

._7jgf {
    align-items: center;
    border-bottom: 1px solid #e9eaeb;
    padding: 20px 20px 20px 20px;
}

._7jgc {
    margin: 20px 20px 0;
}

._7jgh {
    align-items: center;
    display: flex;
}

._7jgi {
    flex: 1 0 auto;
}

._7jgj {
    align-items: center;
    display: flex;
}

._7jgl {
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    height: 0;
    width: 0;
}

._7jgl {
    border-color: #929598;
}

._7jgm {
    margin-left: 20px;
    margin-top: 4px;
    max-width: 220px;
}

._8jhw {
    color: #929598;
    font-size: 11px;
    line-height: 12px;
    margin-left: 20px;
    margin-top: 4px;
    max-width: 220px;
}

._7jgd {
    margin-left: 0;
}

._7ov0 {
    padding: 20px;
}

._7plx {
    border-bottom: 1px solid #e9eaeb;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

._7qcp {
    align-items: center;
    border-top: 1px solid #dadde1;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 24px;
    max-width: 1102px;
    padding-top: 24px;
}

._8yiy {
    height: 16px;
    margin-left: 4px;
    padding-top: 4px;
}

._7kca {
    background-color: #fff;
    border: 1px solid #e9eaeb;
    border-radius: 8px;
    box-shadow: #E9EAEB 0 0 2px 0;
    box-sizing: border-box;
}

._7kcc {
    padding: 20px;
}

._7kce {
    align-items: center;
    border-bottom: 1px solid #e9eaeb;
    border-top: 1px solid #e9eaeb;
    display: flex;
    padding: 16px;
}

._96m7 {
    background-color: lightgrey;
    border: 1px solid #e9eaeb;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 8px;
    padding: 6px;
}

._7n08 {
    padding-bottom: 20px;
}

._7my2 {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
}

._8jos {
    font-weight: bold;
}

._7lq0 {
    background: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    width: 100%;
}

._7lqv {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

._7lq1 {
    background: #fff;
    box-shadow: 0 1px 8px 1px #bec3c9;
    display: flex;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

._7lq2 {
    align-items: center;
    display: inline-flex;
    font-size: 18px;
    font-weight: bold;
    margin-top: 4px;
}

._7qil {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

._7qio {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

._7qik {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 4px;
}

._7q_d {
    max-width: 460px;
}

._7qnv {
    margin-bottom: 48px;
}

._7qjh {
    bottom: 0;
    position: absolute;
    right: 0;
}

._7qii {
    padding-top: 4px;
    text-align: right;
}

._7qim {
    border-bottom: 1px solid;
    border-bottom-color: #dadde1;
    margin: 8px 0;
    width: 100%;
}

._7qij {
    cursor: pointer;
    text-decoration: none;
}

._7qij:hover {
    text-decoration: underline;
}

._8jg_ {
    align-items: center;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

._8jg- {
    padding: 12px;
}

._8jh0 {
    flex-shrink: 0;
}

._8jh1 {
    flex-grow: 1;
    margin-right: 4px;
    overflow: hidden;
}

._8jh2,
._8jh3,
._8jh5 {
    overflow: hidden;
    text-overflow: ellipsis;
}

._8jh5,
._8jh3,
._8jh4 {
    color: #606770;
}

._8jh2 {
    color: #1c1e21;
}

._8jg- ._8jh2 {
    font-size: 16px;
    line-height: 20px;
}

._8jg- ._8jh4 {
    font-size: 12px;
    line-height: 16px;
}

._8jg- ._8jh3 {
    font-size: 14px;
    line-height: 20px;
}

._8jg- ._8jh5 {
    font-size: 12px;
    line-height: 16px;
    padding-top: 8px;
}

._8o0a {
    line-height: 0;
    position: relative;
}

._8o0c {
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

._8o05 ._8o0c {
    background: transparent url(https://static.xx.fbcdn.net/rsrc.php/v3/yr/r/wD1HzaN-6Tf.png) no-repeat center;
}

/*! CSS Used from: https://static.xx.fbcdn.net/rsrc.php/v3/yb/l/0,cross/yLeCZIZws5k.css?_nc_x=hj4GbUMuc5X */
._271k {
    background-position: 0 0;
    border: 1px solid;
    border-radius: 2px;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    padding: 0;
    position: relative;
    text-shadow: none;
    transition: all 300ms cubic-bezier(.1, .7, .1, 1), border-width 1ms;
    transition-property: background, border-color, border-width, color;
    vertical-align: middle;
}

._271n {
    cursor: default;
}

._43rl {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

._271m {
    max-width: 242px;
}

._271l ._271o {
    margin-left: -2px;
}

._271o {
    flex-shrink: 0;
}

._43rm {
    flex-basis: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._1o4e {
    padding: 0;
}

._1o4e ._271o {
    margin: 0;
}

._1qjd {
    outline: 0;
}

/*! CSS Used from: https://static.xx.fbcdn.net/rsrc.php/v3/yV/l/0,cross/xK7xBKHFFrv.css?_nc_x=hj4GbUMuc5X */
.leaflet-map-pane,
.leaflet-tile-pane,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg {
    position: absolute;
    left: 0;
    top: 0;
}

.leaflet-container {
    overflow: hidden;
}

.leaflet-tile-pane {
    z-index: 2;
}

.leaflet-objects-pane {
    z-index: 3;
}

.leaflet-overlay-pane {
    z-index: 4;
}

.leaflet-shadow-pane {
    z-index: 5;
}

.leaflet-marker-pane {
    z-index: 6;
}

.leaflet-popup-pane {
    z-index: 7;
}

.leaflet-top,
.leaflet-bottom {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
}

.leaflet-top {
    top: 0;
}

.leaflet-right {
    right: 0;
}

.leaflet-bottom {
    bottom: 0;
}

.leaflet-left {
    left: 0;
}

.leaflet-clickable {
    cursor: pointer;
}

.leaflet-container {
    cursor: -webkit-grab;
}

.leaflet-popup-pane {
    cursor: auto;
}

.leaflet-container {
    background: #ddd;
    outline: 0;
}

.leaflet-container {
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/*! CSS Used from: https://static.xx.fbcdn.net/rsrc.php/v3/yl/l/0,cross/Pkfq7o1EmAW.css?_nc_x=hj4GbUMuc5X */
._24q8 ._34pe {
    margin-right: 24px;
}

._24q8 ._34pe:last-child {
    margin-right: 0;
}

._24q8 ._34pf {
    margin-right: 6px;
}

._5av0 {
    color: #4b4f56;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 5px 0;
}

._5av0 ._34pc ._34pf {
    font-size: 18px;
    line-height: 14px;
    padding-top: 8px;
}

._5av0 ._34pe {
    transition: width 200ms;
}

._5av0 ._34pe:nth-child(1) {
    color: #3d6ad6;
}

._5av0 ._34pe:nth-child(2) {
    color: #13bda6;
}

._5av0 ._34pe:nth-child(3) {
    color: #905ac7;
}

._5av0 ._34pf {
    color: #4b4f56;
}

._5av0 ._34pf {
    transition: color .2s, opacity .33s cubic-bezier(.95, .05, .795, .035);
}

._5av0 ._8dl {
    line-height: calc(26 * 1px);
    transition: all .2s;
}

._28ix {
    display: none;
}

._34pe {
    box-sizing: border-box;
    float: left;
    white-space: nowrap;
}

._34pd {
    width: 200%;
}

._34pg {
    float: left;
    margin-right: -200%;
    overflow: hidden;
}

._34pb {
    overflow: hidden;
    position: relative;
    width: 100%;
}

._34pc ._34pf {
    float: none;
}

._34pf {
    float: left;
}

._1ae1 {
    opacity: 0;
}

/*! CSS Used from: https://static.xx.fbcdn.net/rsrc.php/v3/yO/l/0,cross/6HOEtW0E-iM.css?_nc_x=hj4GbUMuc5X */
.sp_crR98z6TQbO_2x {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/TuVcFZVMKAb.png);
    background-size: 25px 1545px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.sp_crR98z6TQbO_2x.sx_2192bd {
    background-position: 0 -235px;
}

/*! CSS Used from: https://static.xx.fbcdn.net/rsrc.php/v3/y0/l/0,cross/RrfsWcmeMg7.css?_nc_x=hj4GbUMuc5X */
.sp_BkGzph4tKD9_2x {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y6/r/LJioFXG4pEp.png);
    background-size: 101px 588px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.sp_BkGzph4tKD9_2x.sx_4b04d3 {
    background-position: -84px -363px;
}

.sp_BkGzph4tKD9_2x.sx_db54e3 {
    background-position: -63px -430px;
}

.sp_BkGzph4tKD9_2x.sx_f5caf5 {
    background-position: -34px -451px;
}

.sp_BkGzph4tKD9_2x.sx_c12d9d {
    width: 24px;
    height: 24px;
    background-position: -25px -321px;
}

.sp_BkGzph4tKD9_2x.sx_2b1ed3 {
    background-position: -17px -519px;
}

.sp_BkGzph4tKD9_2x.sx_ffdad8 {
    background-position: -34px -519px;
}

/*! CSS Used from: Embedded */
:focus,
:active {
    box-shadow: none !important;
    outline: none !important;
}

button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif !important;
}

._7jyg._7jyi {
    background-color: #ffffff;
}

._7jg4 {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    overflow: hidden;
    width: 100%;
}

._7jg5 {
    border: 1px solid hsl(210, 4.76%, 80.76%);
    border-radius: 8px;
    box-shadow: #E9EAEB 0 0 2px 0;
    box-sizing: border-box;
    margin-bottom: 0px;
    overflow: auto;
    position: relative;
    background-color: #fff;
    margin: 0 auto;
    max-width: 600px;
}

._7jyi {
    border-bottom: 1px solid #e9eaeb;
    border-radius: 8px 8px 0 0;
    padding: 0 0 0px 0;
}

._7jyg {
    background-color: #fff;
}

._3qn7._61-0._2fyh._3qnf {
    width: 100%;
}

._3qn7._61-0._2fyi._3qng {
    width: 100% !important;
}

._8nsi._8nqo {
    margin: 12px;
}

._8nsi {
    align-items: center;
    display: flex;
}

._3qng {
    align-items: center;
}

._61-0 {
    justify-content: flex-start;
}

._2fyi {
    flex-direction: row;
}

._3qn7 {
    display: flex;
}

._8nqr {
    width: 100%;
}

._95et {
    background-color: lightgrey;
    border: 1px solid #e9eaeb;
    border-radius: 50%;
    margin-right: 8px;
    padding: 4px;
}

.sp_BkGzph4tKD9_2x.sx_c12d9d {
    width: 24px;
    height: 24px;
    background-position: -25px -321px;
}

i.img {
    -ms-high-contrast-adjust: none;
}

._95et {
    content: url(https://nimbusweb.me/box/attachment/4384195/4zbpvnk6wtze3m1ymw0t/NsGxH2AX93bGqmgB/image.png);
    background-size: unset;
    background-repeat: unset;
    display: inline-block;
    height: 22px;
    width: 22px;
}

._95et {
    position: relative;
}

._95et i {
    display: none;
}

._3qnf {
    align-items: flex-start;
}

._61-0 {
    justify-content: flex-start;
}

._2fyh {
    flex-direction: column;
}

._3qn7 {
    display: flex;
}

._8nqr._3qn7._61-3._2fyi._3qng span,
._8nqr._3qn7._61-3._2fyi._3qng {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: normal;
    font-weight: bold;
    overflow-wrap: normal;
    text-align: left;
    color: rgb(28, 30, 33);
}

.s916jpeb {
    margin-right: 0;
}

.qo4j1dvg {
    flex-shrink: 0;
}

.icik5mi5 {
    margin-left: 4px;
}

.daun3cdb {
    margin-bottom: -8px;
}

.alyzeyk7 {
    margin-top: -8px;
}

._271o {
    flex-shrink: 0;
}

.hx7khpap.ncgymyjm.icik5mi5.daun3cdb.s916jpeb.alyzeyk7.qo4j1dvg > div > button {
    width: auto;
    letter-spacing: normal;
    color: rgb(68, 73, 80);
    font-size: 12px;
    font-weight: bold;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Arial, sans-serif;
    line-height: 26px;
    text-align: center;
    background-color: transparent;
    border-color: transparent;
    height: 28px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 2px;
}

._1qjd {
    outline: 0;
}

._1o4e {
    padding: 0;
}

._271m {
    max-width: 242px;
}

._271k {
    background-position: 0 0;
    border: 1px solid;
    border-radius: 2px;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    padding: 0;
    position: relative;
    text-shadow: none;
    transition: all 300ms cubic-bezier(.1, .7, .1, 1), border-width 1ms;
    transition-property: background, border-color, border-width, color;
    vertical-align: middle;
}

._7tvm {
    overflow: visible;
    position: relative;
}

.hx7khpap.ncgymyjm.icik5mi5.daun3cdb.s916jpeb.alyzeyk7.qo4j1dvg > div {
    display: inline-block;
    width: auto;
}

._43rl {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

._1o4e ._271o {
    margin: 0;
}

._271l ._271o {
    margin-left: -2px;
}

.sp_3YxdNwDryIQ_2x.sx_ba11e6 {
    width: 16px;
    height: 16px;
    background-position: -17px -672px;
}

#facebook .accessible_elem {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

._8nqo ._8nrv {
    font-size: 12px;
    line-height: 16px;
}

._8nrv {
    color: #606770;
}

._4ik5._4ik4:before {
    display: none;
}

._4ik4:before {
    content: '';
    float: left;
    height: 100%;
    position: relative;
    width: 5px;
}

._8jos {
    font-weight: bold;
}

._8nrw {
    color: #929598;
    font-size: 11px;
    line-height: 12px;
    margin-top: 4px;
    width: 100%;
}

._4rhp {
    display: block;
}

._4ik5._4ik4 {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    float: none;
}

._4ik4 {
    overflow: hidden;
    white-space: normal;
}

._7jyi ._7jyr {
    font-size: 14px;
    line-height: 20px;
    margin: 8px 4px 8px 12px;
}

._7jyr {
    white-space: normal;
}

._7jyr > div > div._4ik4._4ik5 {
    line-height: 20px;
    max-height: 100% !important;
    -webkit-line-clamp: unset !important;
}

._8o0a {
    line-height: 0;
    position: relative;
}

video {
    object-fit: contain;
}

._231w,
._231w:hover {
    max-width: 100%;
    text-decoration: none;
}

._4yee {
    display: block;
}

a {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
}

._8jg- {
    padding: 12px;
}

._8jg_ {
    align-items: flex-start;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

._8jh1 {
    flex-grow: 1;
    margin-right: 8px;
    overflow: hidden;
}

._8jg- ._8jh5 {
    font-size: 11.2px;
    line-height: 18px !important;
    padding-top: 2px;
    color: hsl(213.75, 7.69%, 50.78%);
}

._8jg- ._8jh5 ._4ik4._4ik5 {
    line-height: 18px !important;
}

._8jh5,
._8jh3,
._8jh4 {
    color: #606770;
}

._8jh2,
._8jh3,
._8jh5 {
    overflow: hidden;
    text-overflow: ellipsis;
}

._8jg- ._8jh2 {
    font-size: 16px;
    line-height: 20px;
}

._8jh2 {
    color: #1c1e21;
}

._8jh2 > div > div._4ik4._4ik5 {
    line-height: 20px;
    max-height: 40px;
    -webkit-line-clamp: 2;
}

._8jg- ._8jh3 {
    font-size: 13.4px;
    line-height: 20px;
    margin-top: 2px;
    margin-bottom: 10px;
}

._8jg- ._8jh4 {
    display: none;
}

._8jg- ._8jh4 {
    font-size: 12px;
    line-height: 16px;
}

._8jh5,
._8jh3,
._8jh4 {
    color: #606770;
}

._8jh4 > div > div._4ik4._4ik5 {
    line-height: 16px;
    max-height: 32px;
    -webkit-line-clamp: 2;
}

._4ik5._4ik4 {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    float: none;
}

._8jh0 {
    flex-shrink: 0;
}

._3-9a {
    margin-left: 8px;
}

button {
    margin: 0;
}

button._271k._271m._1qjd._3-9a._7tvm._7tv2._7tv4 {
    display: none;
    max-width: 120px !important;
    letter-spacing: normal !important;
    color: rgb(68, 73, 80) !important;
    font-size: 12px !important;
    font-weight: bold !important;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Arial, sans-serif !important;
    line-height: 26px !important;
    text-align: center !important;
    background-color: rgb(245, 246, 247) !important;
    border-color: rgb(218, 221, 225) !important;
    height: 28px !important;
    padding-left: 11px !important;
    padding-right: 11px !important;
    border-radius: 2px !important;
}

._8jh0 {
    margin-top: 23px;
}

._8jh0:before {
    content: "Learn More";
    max-width: 120px !important;
    letter-spacing: normal !important;
    color: rgb(68, 73, 80) !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Arial, sans-serif !important;
    line-height: 26px !important;
    text-align: center !important;
    background-color: hsl(210, 11.11%, 95.5%) !important;
    border-color: rgb(218, 221, 225) !important;
    height: 25px !important;
    padding-left: 11px !important;
    padding-right: 11px !important;
    border-radius: 2px !important;
    border: 1px solid #DADDE1 !important;
    padding: 6px 0px;
    z-index: 10000;
    margin-top: 10px;
}

._43rm {
    flex-basis: auto;
    overflow: unset;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.accessible_elem {
    display: none;
}

._4ik4._4ik5 > div br,
._7jyr > div br {
    content: "";
    display: block;
    height: 7px;
}

._8jh2 > div > div._4ik4._4ik5 {
    font-weight: 500;
}

@media (max-width: 450px) {
    ._8jg- ._8jh5 {
        font-size: 8.8px;
        line-height: 17px !important;
    }

    ._8jg- {
        padding: 6px 12px;
    }

    ._8jh2 > div > div._4ik4._4ik5 {
        line-height: 18px !important;
        font-size: 13.5px;
        font-weight: 400;
    }

    ._8jg- ._8jh3 {
        font-size: 10px;
        line-height: 12px;
        margin-top: 4px;
    }

    ._8jh0:before {
        font-size: 11px !important;
    }

    ._8jg- ._8jh5 {
        padding-top: 0px;
    }

    ._8jh0 {
        margin-top: 20px;
    }

    ._8jh3 ._4ik5._4ik4 {
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
        line-height: 12px !important;
        font-weight: 300;
    }

    ._7jyi ._7jyr {
        font-size: 12.5px;
    }

    ._7jyr > div > div._4ik4._4ik5,
    ._7jyr > div {
        line-height: 18.5px;
    }

    ._4ik4._4ik5 > div br,
    ._7jyr > div br {
        content: "";
        display: block;
        height: 6px !important;
    }
}

._7jg3 {
    padding: 15px;
    margin-top: 55px;
}

@media (max-width: 750px) {
    ._7jg3 {
        flex-direction: column;
    }

    ._7jgb._7r3u {
        max-width: 600px !important;
        width: 100%;
        order: 2;
        margin: 0 auto;
    }

    ._7jg4 ._3-8o {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

._7lq1 {
    box-shadow: none;
}

._7jg4 ._3-8o ._7kca {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

._7jg4 ._3-8o ._7kca {
    border: 1px solid hsl(210, 4.76%, 80.76%);
}

*::-webkit-input-placeholder {
    color: #606770;
}

*:focus::-webkit-input-placeholder {
    color: #bec3c9;
}

#facebook ._-kb div {
    font-family: inherit;
}

#facebook ._-kb span {
    font-family: inherit;
}

._19_u :focus {
    outline: none !important;
}

i.img {
    -ms-high-contrast-adjust: none;
}

._4rhp {
    display: inline-block;
}

._h6r {
    vertical-align: text-top;
}

._4ik4 {
    overflow: hidden;
    white-space: normal;
}

._4ik4:before {
    content: "";
    float: left;
    height: 100%;
    position: relative;
    width: 5px;
}

._4ik5._4ik4:before {
    display: none;
}

._4ik5._4ik4 {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    float: none;
}

._3-8o {
    margin-bottom: 12px;
    margin-top: 12px;
}

._3-8r {
    margin-left: 4px;
    margin-right: 4px;
}

.sp_xDJV-KAZzzv_2x {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yL/r/I2RUh-IwVCH.png);
    background-size: 500px 198px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 12px;
    width: 12px;
}

.sp_xDJV-KAZzzv_2x.sx_f998be {
    background-position: -205px -181px;
}

.sp_BkGzph4tKD9_2x {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y6/r/LJioFXG4pEp.png);
    background-size: 101px 588px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.sp_BkGzph4tKD9_2x.sx_c12d9d {
    width: 24px;
    height: 24px;
    background-position: -25px -321px;
}

._7kca {
    background-color: #fff;
    border: 1px solid #e9eaeb;
    border-radius: 8px;
    box-shadow: #e9eaeb 0 0 2px 0;
    box-sizing: border-box;
}

._7kcc {
    padding: 20px;
}

._7kce {
    align-items: center;
    border-bottom: 1px solid #e9eaeb;
    border-top: 1px solid #e9eaeb;
    display: flex;
    padding: 16px;
}

._96m7 {
    background-color: lightgrey;
    border: 1px solid #e9eaeb;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 8px;
    padding: 6px;
}

._7n08 {
    padding-bottom: 20px;
}

._7my2 {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
}

._7qil {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

._7qio {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

._7qik {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 4px;
}

._7q_d {
    max-width: 460px;
}

._7qnv {
    margin-bottom: 48px;
}

._7qjh {
    bottom: 0;
    position: absolute;
    right: 0;
}

._7qii {
    padding-top: 4px;
    text-align: right;
}

._7qim {
    border-bottom: 1px solid;
    border-bottom-color: #dadde1;
    margin: 8px 0;
    width: 100%;
}

._7qij {
    cursor: pointer;
    text-decoration: none;
}

._7qij:hover {
    text-decoration: underline;
}

:focus,
:active {
    box-shadow: none !important;
    outline: none !important;
}

.sp_BkGzph4tKD9_2x.sx_c12d9d {
    width: 24px;
    height: 24px;
    background-position: -25px -321px;
}

i.img {
    -ms-high-contrast-adjust: none;
}

._4ik5._4ik4:before {
    display: none;
}

._4ik4:before {
    content: "";
    float: left;
    height: 100%;
    position: relative;
    width: 5px;
}

._4rhp {
    display: block;
}

._4ik5._4ik4 {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    float: none;
}

._4ik4 {
    overflow: hidden;
    white-space: normal;
}

._4ik5._4ik4 {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    float: none;
}

@media (max-width: 750px) {
    ._7jg4 ._3-8o {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

._7jg4 ._3-8o ._7kca {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

._7jg4 ._3-8o ._7kca {
    border: 1px solid hsl(210, 4.76%, 80.76%);
}

*::-webkit-input-placeholder {
    color: #606770;
}

*:focus::-webkit-input-placeholder {
    color: #bec3c9;
}

#facebook ._-kb div {
    font-family: inherit;
}

#facebook ._-kb span {
    font-family: inherit;
}

._19_u :focus {
    outline: none !important;
}

i.img {
    -ms-high-contrast-adjust: none;
}

._4rhp {
    display: inline-block;
}

._h6r {
    vertical-align: text-top;
}

._3-8r {
    margin-left: 4px;
    margin-right: 4px;
}

.sp_xDJV-KAZzzv_2x {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yL/r/I2RUh-IwVCH.png);
    background-size: 500px 198px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 12px;
    width: 12px;
}

.sp_xDJV-KAZzzv_2x.sx_f998be {
    background-position: -205px -181px;
}

.sp_BkGzph4tKD9_2x {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y6/r/LJioFXG4pEp.png);
    background-size: 101px 588px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}

:focus,
:active {
    box-shadow: none !important;
    outline: none !important;
}

i.img {
    -ms-high-contrast-adjust: none;
}

._4rhp {
    display: block;
}

._7jgb {
    margin: 0 auto;
    margin-left: 20px;
}

._7jgb._7r3u {
    border: 1px solid hsl(210, 4.76%, 80.76%);
    border-radius: 8px;
    box-shadow: #E9EAEB 0 0 2px 0;
    max-width: 50%;
}

._34pb._24q8._5av0._3t76.normal._5g0o + div {
    max-width: 100% !important;
}

._34pb._24q8._5av0._3t76.normal._5g0o + div canvas._cx6 {
    max-width: 100%;
}

strong {
    font-weight: 600;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

*::-webkit-input-placeholder {
    color: #606770;
}

*:focus::-webkit-input-placeholder {
    color: #bec3c9;
}

#facebook ._-kb div {
    font-family: inherit;
}

#facebook ._-kb span {
    font-family: inherit;
}

._19_u :focus {
    outline: none !important;
}

i.img {
    -ms-high-contrast-adjust: none;
}

._4rhp {
    display: inline-block;
}

._h6r {
    vertical-align: text-top;
}

._3qn7 {
    display: flex;
}

._2fyi {
    flex-direction: row;
}

._61-0 {
    justify-content: flex-start;
}

._3qng {
    align-items: center;
}

._3-8r {
    margin-left: 4px;
    margin-right: 4px;
}

._3-8w {
    margin-top: 4px;
}

._3-8- {
    margin-top: 20px;
}

._3-95 {
    margin-bottom: 8px;
}

._3-96 {
    margin-bottom: 12px;
}

._3-9a {
    margin-left: 8px;
}

.sp_xDJV-KAZzzv_2x {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yL/r/I2RUh-IwVCH.png);
    background-size: 500px 198px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 12px;
    width: 12px;
}

.sp_xDJV-KAZzzv_2x.sx_f998be {
    background-position: -205px -181px;
}

._3dtr {
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.leaflet-map-pane,
.leaflet-tile-pane,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg {
    position: absolute;
    left: 0;
    top: 0;
}

.leaflet-container {
    overflow: hidden;
}

.leaflet-tile-pane {
    z-index: 2;
}

.leaflet-objects-pane {
    z-index: 3;
}

.leaflet-overlay-pane {
    z-index: 4;
}

.leaflet-shadow-pane {
    z-index: 5;
}

.leaflet-marker-pane {
    z-index: 6;
}

.leaflet-popup-pane {
    z-index: 7;
}

.leaflet-top,
.leaflet-bottom {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
}

.leaflet-top {
    top: 0;
}

.leaflet-right {
    right: 0;
}

.leaflet-bottom {
    bottom: 0;
}

.leaflet-left {
    left: 0;
}

.leaflet-clickable {
    cursor: pointer;
}

.leaflet-container {
    cursor: -webkit-grab;
}

.leaflet-popup-pane {
    cursor: auto;
}

.leaflet-container {
    background: #ddd;
    outline: 0;
}

.leaflet-container {
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

._24q8 ._34pe {
    margin-right: 24px;
}

._24q8 ._34pe:last-child {
    margin-right: 0;
}

._24q8 ._34pf {
    margin-right: 6px;
}

._5av0 {
    color: #4b4f56;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 5px 0;
}

._5av0 ._34pc ._34pf {
    font-size: 18px;
    line-height: 14px;
    padding-top: 8px;
}

._5av0 ._34pe {
    transition: width 200ms;
}

._5av0 ._34pe:nth-child(1) {
    color: #3d6ad6;
}

._5av0 ._34pe:nth-child(2) {
    color: #13bda6;
}

._5av0 ._34pe:nth-child(3) {
    color: #905ac7;
}

._5av0 ._34pf {
    color: #4b4f56;
}

._5av0 ._34pf {
    transition: color 0.2s, opacity 0.33s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

._5av0 ._8dl {
    line-height: calc(26 * 1px);
    transition: all 0.2s;
}

._28ix {
    display: none;
}

._34pe {
    box-sizing: border-box;
    float: left;
    white-space: nowrap;
}

._34pd {
    width: 200%;
}

._34pg {
    float: left;
    margin-right: -200%;
    overflow: hidden;
}

._34pb {
    overflow: hidden;
    position: relative;
    width: 100%;
}

._34pc ._34pf {
    float: none;
}

._34pf {
    float: left;
}

._1ae1 {
    opacity: 0;
}

.sp_BkGzph4tKD9_2x {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y6/r/LJioFXG4pEp.png);
    background-size: 101px 588px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.sp_BkGzph4tKD9_2x.sx_db54e3 {
    background-position: -63px -430px;
}

.sp_BkGzph4tKD9_2x.sx_f5caf5 {
    background-position: -34px -451px;
}

._8xpp {
    padding-top: 12px;
    width: 100%;
}

._8xao {
    align-items: center;
}

._8xpq {
    align-items: center;
    display: flex;
    height: 20px;
    padding: 4px 0 4px 0;
}

._8xaz {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 12px;
}

._8xb4 {
    align-items: center;
}

._8xpo {
    height: 16px;
    margin-left: 4px;
    padding-top: 4px;
}

._8goz {
    margin-bottom: 32px;
}

._8goz ._8go_ {
    background-color: #fff;
    position: relative;
}

._8nqn {
    margin-left: auto;
    margin-right: 8px;
}

._7jgb {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 24px 16px 24px;
    margin-left: 24px;
    margin-right: 24px;
    width: 539px;
}

._7jgb._7r3u {
    border: 1px solid #e9eaeb;
    border-radius: 8px;
    box-shadow: #e9eaeb 0 0 2px 0;
}

._7jgf {
    align-items: center;
    border-bottom: 1px solid #e9eaeb;
    padding: 20px 20px 20px 20px;
}

._7jgc {
    margin: 20px 20px 0;
}

._7jgh {
    align-items: center;
    display: flex;
}

._7jgi {
    flex: 1 0 auto;
}

._7jgj {
    align-items: center;
    display: flex;
}

._7jgl {
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    height: 0;
    width: 0;
}

._7jgl {
    border-color: #929598;
}

._7jgm {
    margin-left: 20px;
    margin-top: 4px;
    max-width: 220px;
}

._8jhw {
    color: #929598;
    font-size: 11px;
    line-height: 12px;
    margin-left: 20px;
    margin-top: 4px;
    max-width: 220px;
}

._7jgd {
    margin-left: 0;
}

._8yiy {
    height: 16px;
    margin-left: 4px;
    padding-top: 4px;
}

:focus,
:active {
    box-shadow: none !important;
    outline: none !important;
}

._3qn7._61-0._2fyi._3qng {
    width: 100% !important;
}

._3qng {
    align-items: center;
}

._61-0 {
    justify-content: flex-start;
}

._2fyi {
    flex-direction: row;
}

._3qn7 {
    display: flex;
}

i.img {
    -ms-high-contrast-adjust: none;
}

._61-0 {
    justify-content: flex-start;
}

._3qn7 {
    display: flex;
}

._4rhp {
    display: block;
}

._3-9a {
    margin-left: 8px;
}

@media (max-width: 750px) {
    ._7jgb._7r3u {
        max-width: 600px !important;
        width: 100%;
        order: 2;
        margin: 0 auto;
    }
}

._7jgb {
    margin: 0 auto;
    margin-left: 20px;
}

._7jgb._7r3u {
    border: 1px solid hsl(210, 4.76%, 80.76%);
    border-radius: 8px;
    box-shadow: #e9eaeb 0 0 2px 0;
    max-width: 50%;
}

._34pb._24q8._5av0._3t76.normal._5g0o + div {
    max-width: 100% !important;
}
