/***************** PASSWORD LIGHTBOX STYLING - FOR NEW SAVED CREDIT CARDS ******************/
#AGORA_lightbox {
    position: fixed;
    top: 35%;
    left: 50%;
    width: 320px;
    margin-left: -160px;
    background: #fff;
    z-index: 1001;
    display: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
     border-radius: 10px;
    padding:  10px;
    text-align: center;
}
#AGORA_lightbox-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    filter: alpha(opacity=75);
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;
    z-index: 1000;
    display: none;
}
#AGORA_passwordPopup {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    font-size: 14px;
    line-height: 1.42857143;
  
}
#AGORA_popUpEmailHeader {
    color: #000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
}
#AGORA_popUpFormTable {
    text-align:center; 
}
#AGORA_popUpEmailAddress {
    font-size: 11px;
}