<!DOCTYPE html>

<html lang="en/us">

<!-- RIGHT SIDEBAR (INCLUDING JAVASCRIPT) -->
{% include head-for-fb-ads.html %}

<!-- END RIGHT SIDEBAR -->

<body>
    <link rel="stylesheet" href="{{ '/assets/css/facebook-assets/fb-ad-stylesheet.css' | absolute_url }}">
    <div class="page-wrap">

        <div class="main-content-wrap js-main-content" tabindex="0">
            <div class="main-content">

                <!-- MIDDLE SECTION -->
                <div class="page " id="js-push-content">
                    {% unless page.url == "/" %}
                    {% if page.parent %}
                    {% endif %}
                    {% endunless %}
                    <div id="main-content" class="pagecontent" role="main">
                        {% if site.heading_anchors != false %}
                        {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg viewBox=\"0 0 16 16\" aria-hidden=\"true\"><use xlink:href=\"#link\"></use></svg>" anchorClass="anchor-heading" %}
                        {% else %}
                        {{ content }}
                        {% endif %}

                        {% if page.has_children == true and page.has_toc != false %}
                        <hr>
                        <h2 class="text-delta">Table of contents</h2>
                        {% assign children_list = site.pages | sort:"nav_order" %}
                        <ul>
                            {% for child in children_list %}
                            {% if child.parent == page.title and child.title != page.title %}
                            <li>
                                <a href="{{ child.url | absolute_url }}">{{ child.title }}</a>{% if child.summary %} - {{ child.summary }}{% endif %}
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}

                        {% if site.footer_content != nil %}
                        <hr>
                        <footer role="contentinfo">
                            <p class="text-small text-grey-dk-000 mb-0">{{ site.footer_content }}</p>
                        </footer>
                        {% endif %}

                    </div>
                </div>
                <!-- END MIDDLE SECTION -->
            </div>
        </div>
    </div>

</body>

</html>
