   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }

   .ad {
       padding: 10px;
   }

   .annotator-toolbar {
       display: none;
   }

   .ad-border {
       display: block;
       position: relative;
       padding: 29px;
   }

   .breadcrumb-nav-list-item {
       color: black !important;

   }

   .breadcrumb-nav {
       left: 28px;
       top: 40px;
   }

   @media (min-width: 50rem) {
       .page {
           padding-top: 0px !important;
           padding-bottom: 0px !important;
       }
   }


   body {
       hyphens: auto !important;
       margin: 0 auto;
       hyphens: auto;
       -webkit-hyphens: auto;
       -webkit-font-smoothing: subpixel-antialiased !important;
       font-smoothing: subpixel-antialiased !important;
   }

   @media (max-width:1000px) {
       .ad-border {
           padding: 10px !important;
       }
   }

   @media (max-width:575px) {

       .ad-border,
       .ad {
           padding: 0px !important;
       }

   }



   /************************************************
    MARGINS 
    ************************************************/
   .margin-top-30 {
       margin-top: 30px;
   }

   /************************************************
    PADDING 
    ************************************************/
   .padding-10 {
       padding: 10px;
   }

   /************************************************
    FONT SIZING
    ************************************************/
   .fsize80 {
       font-size: 80px;
       line-height: 80px;
   }

   .center {
       text-align: center;
   }

   /************************************************
    FONT COLORS
    ************************************************/
   .body-font-color {
       color: hsl(0, 0%, 0%);
   }

   li::before {
       background: hsl(0, 0%, 0%);
       transition: 2s;
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
       color: hsl(0, 0, 0%);
   }

   strong {
       color: hsl(0, 0%, 0%);

   }

   .color-opposite {
       color: black;
   }

   /************************************************
    BACKGROUND COLORS
    ************************************************/


   .bg-base {
       background-color: hsl(0, 0%, 100%);
   }

   .bg-fill-opposite {
       background-color: black;
   }

   .bg-fill-faint {
       background: hsla(0, 0%, 00%, 0.02);
   }

   /************************************************
    RADIUS
    ************************************************/
   .rad-3px {
       border-radius: 3px;
   }

   .rad-4px {
       border-radius: 4px;
   }

   /************************************************
    BORDERS
    ************************************************/
   .border-width1 {
       border-width: 1px;
   }

   .border-width2 {
       border-width: 2px;
   }

   .border-width3 {
       border-width: 3px;
   }

   .border-dashed {
       border-style: dashed;
   }

   .border-solid {
       border-style: solid;
   }

   .border-color-opposite {
       border-color: black;
   }

   .border-color-1 {
       border-color: black;
   }

   .border-2px {
       border: 2px solid;
   }


   /************************************************
    ************************************************
    FONTS
    ************************************************
    ************************************************/

   /****************
    CAVEAT 
    ****************/

   @font-face {
       font-family: "Caveat";
       src: url('https://dl.dropboxusercontent.com/s/cukii34lmqlkrxx/Caveat%20Regular.woff2?raw=1') format('woff2'),
           url('https://dl.dropboxusercontent.com/s/v1vczonimiecqji/Caveat%20Regular.woff?raw=1') format('woff'),
           url('https://dl.dropboxusercontent.com/s/s9rdo1efyzz0oa8/Caveat%20Regular.ttf?raw=1') format('truetype'),
           url('https://dl.dropboxusercontent.com/s/vf8s4z1hujxuv25/Caveat%20Regular.svg?raw=1') format('svg'),
           url('https://dl.dropboxusercontent.com/s/fzk9k0qkwurfblg/Caveat%20Regular.otf?raw=1') format('opentype'),
           url('https://dl.dropboxusercontent.com/s/3trw6qvel8vxkul/Caveat%20Regular.eot?raw=1') format('embedded-opentype');
       font-weight: 400;
       font-style: normal;
   }

   /****************
    ELENA 
    ****************/

   @font-face {
       font-family: 'Elena';
       src: url('https://dl.dropboxusercontent.com/s/48784loylleluiw/elenawebregular.woff2?raw=1') format('woff2'),
           url('https://dl.dropboxusercontent.com/s/7fqgaprze7bjnbx/elenawebregular.woff?raw=1') format('woff');
       font-weight: normal;
       font-style: normal;
   }

   @font-face {
       font-family: 'Elena';
       src: url('https://dl.dropboxusercontent.com/s/s1ovniwpa8tke46/elenawebbold.woff2?raw=1') format('woff2'),
           url('https://dl.dropboxusercontent.com/s/br2h8uf9x28j6ee/elenawebbold.woff?raw=1') format('woff');
       font-weight: 700;
       font-style: normal;
   }

   @font-face {
       font-family: 'Elena';
       src: url('https://dl.dropboxusercontent.com/s/079du5wi81q4chk/elenawebregularitalic.woff2?raw=1') format('woff2'),
           url('https://dl.dropboxusercontent.com/s/xagfsk260zt3u72/elenawebregularitalic.woff?raw=1') format('woff');
       font-style: italic;
   }

   @font-face {
       font-family: 'Elena';
       src: url('https://dl.dropboxusercontent.com/s/91c4b78o9mrb365/elenawebbolditalic.woff2?raw=1') format('woff2'),
           url('https://dl.dropboxusercontent.com/s/s7upl4k6iupfsgf/elenawebbolditalic.woff?raw=1') format('woff');
       font-style: italic;
       font-weight: 700;
   }


   /****************
    ****************
    IOWAN 
    ****************
    ****************/

   /***IOWAN Regular***/
   @font-face {
       font-family: "Iowan Old Style W01";
       src: url('https://dl.dropboxusercontent.com/s/8e732eoue2y29rn/Iowan%20Old%20Style%20W01%20Roman.ttf?raw=1') format('truetype'), url('https://dl.dropboxusercontent.com/s/qidrfvzki29bttv/Iowan%20Old%20Style%20W01%20Roman.woff2?raw=1') format('woff2'), url('https://dl.dropboxusercontent.com/s/539swlaas0l35o2/Iowan%20Old%20Style%20W01%20Roman.woff?raw=1') format('woff'), url('https://dl.dropboxusercontent.com/s/wiv7spkypzrvoe6/Iowan%20Old%20Style%20W01%20Roman.eot?raw=1') format('embedded-opentype'), url('https://dl.dropboxusercontent.com/s/y2wgd6yn3du3ri8/Iowan%20Old%20Style%20W01%20Roman.svg?raw=1') format('svg');
       font-weight: 400;
       font-style: normal;
   }

   /***IOWAN ITALIC***/
   @font-face {
       font-family: "Iowan Old Style W01";
       src: url('https://dl.dropboxusercontent.com/s/fa9i7iv5czrfcnd/Iowan%20Old%20Style%20W01%20Italic.ttf?raw=1') format('truetype'), url('https://dl.dropboxusercontent.com/s/g5ess0bkbkiesjv/Iowan%20Old%20Style%20W01%20Italic.woff2?raw=1') format('woff2'), url('https://dl.dropboxusercontent.com/s/0w8icfdyf6s5lak/Iowan%20Old%20Style%20W01%20Italic.woff?raw=1') format('woff'), url('https://dl.dropboxusercontent.com/s/wuqdkssbw1eo7fw/Iowan%20Old%20Style%20W01%20Italic.eot?raw=1') format('embedded-opentype'), url('https://dl.dropboxusercontent.com/s/n4f9k21vwg08rtw/Iowan%20Old%20Style%20W01%20Italic.svg?raw=1') format('svg');
       font-weight: 400;
       font-style: italic;
   }

   /***IOWAN BOLD***/
   @font-face {
       font-family: "Iowan Old Style W01";
       src: url('https://dl.dropboxusercontent.com/s/ujpen1r9q1n5ge6/Iowan%20Old%20Style%20W01%20Bold.ttf?raw=1') format('truetype'), url('https://dl.dropboxusercontent.com/s/as7fyanh2cjg0xi/Iowan%20Old%20Style%20W01%20Bold.woff2?raw=1') format('woff2'), url('https://dl.dropboxusercontent.com/s/ppvk6z9grb0alrr/Iowan%20Old%20Style%20W01%20Bold.woff?raw=1') format('woff'), url('https://dl.dropboxusercontent.com/s/auwlqp64ep7buy0/Iowan%20Old%20Style%20W01%20Bold.eot?raw=1') format('embedded-opentype'), url('https://dl.dropboxusercontent.com/s/infhvvt67i1zixu/Iowan%20Old%20Style%20W01%20Bold.svg?raw=1') format('svg');
       font-weight: 600;
       font-style: normal;
   }

   /***IOWAN BOLD ITALIC***/
   @font-face {
       font-family: "Iowan Old Style W01";
       src: url('https://dl.dropboxusercontent.com/s/wmmx5h09fenklvr/Iowan%20Old%20Style%20W01%20Bold%20Italic.ttf?raw=1') format('truetype'), url('https://dl.dropboxusercontent.com/s/oatgvb7chznrvlo/Iowan%20Old%20Style%20W01%20Bold%20Italic.woff2?raw=1') format('woff2'), url('https://dl.dropboxusercontent.com/s/gy410d7evlcv9l3/Iowan%20Old%20Style%20W01%20Bold%20Italic.woff?raw=1') format('woff'), url('https://dl.dropboxusercontent.com/s/wqrk467lki7gx6o/Iowan%20Old%20Style%20W01%20Bold%20Italic.eot?raw=1') format('embedded-opentype'), url('https://dl.dropboxusercontent.com/s/qke40q4ng4xhmva/Iowan%20Old%20Style%20W01%20Bold%20Italic.svg?raw=1') format('svg');
       font-weight: 600;
       font-style: italic;
   }

   /***IOWAN BLACK***/
   @font-face {
       font-family: "Iowan Old Style W01";
       src: url('https://dl.dropboxusercontent.com/s/pbv9y0h1cmr8ij0/Iowan%20Old%20Style%20W01%20Black.ttf?raw=1') format('truetype'), url('https://dl.dropboxusercontent.com/s/t39mo5pnl8tdtoo/Iowan%20Old%20Style%20W01%20Black.woff2?raw=1') format('woff2'), url('https://dl.dropboxusercontent.com/s/10t92wy2ra6rs8f/Iowan%20Old%20Style%20W01%20Black.woff?raw=1') format('woff'), url('https://dl.dropboxusercontent.com/s/f02lrh3luq88epg/Iowan%20Old%20Style%20W01%20Black.eot?raw=1') format('embedded-opentype'), url('https://dl.dropboxusercontent.com/s/5rtpuv9f61zymca/Iowan%20Old%20Style%20W01%20Black.svg?raw=1') format('svg');
       font-weight: 900;
       font-style: normal;
   }

   /***IOWAN BLACK ITALIC***/
   @font-face {
       font-family: "Iowan Old Style W01";
       src: url('https://dl.dropboxusercontent.com/s/oz0ej02ql8kbnkg/Iowan%20Old%20Style%20W01%20Black%20It.ttf?raw=1') format('truetype'), url('https://dl.dropboxusercontent.com/s/2fe34wstfaetqhj/Iowan%20Old%20Style%20W01%20Black%20It.woff2?raw=1') format('woff2'), url('https://dl.dropboxusercontent.com/s/v64mnc89k71hkfo/Iowan%20Old%20Style%20W01%20Black%20It.woff?raw=1') format('woff'), url('https://dl.dropboxusercontent.com/s/wxusznu0kggr4ln/Iowan%20Old%20Style%20W01%20Black%20It.eot?raw=1') format('embedded-opentype'), url('https://dl.dropboxusercontent.com/s/38tjwo6avuhhfnm/Iowan%20Old%20Style%20W01%20Black%20It.otf?raw=1') format('opentype'), url('https://dl.dropboxusercontent.com/s/zac82pd803qu1bk/Iowan%20Old%20Style%20W01%20Black%20It.svg?raw=1') format('svg');
       font-weight: 900;
       font-style: italic;
   }

   /****************
    ****************
    FRANKLIN GOTHIC CONDENSED 
    ****************
    ****************/
   /*** FRANKLIN GOTHIC CONDENSED*/
   @font-face {
       font-family: 'FrankGoth';
       src: url('https://dl.dropboxusercontent.com/s/45czocg0pptpkd4/Franklin%20Gothic%20Condensed%20BT.woff2?raw=1') format('woff2'), url('https://dl.dropboxusercontent.com/s/grgflfpxih05562/Franklin%20Gothic%20Condensed%20BT.woff?raw=1') format('woff'), url('https://dl.dropboxusercontent.com/s/a5ut0anyq2fl5u5/Franklin%20Gothic%20Condensed%20BT.eot?raw=1') format('embedded-opentype'), url('https://dl.dropboxusercontent.com/s/atgco406beh3vdl/Franklin%20Gothic%20Condensed%20BT.otf?raw=1') format('opentype');
       font-weight: 400;
       font-style: normal;
   }

   @font-face {
       font-family: 'FrankGothreg';
       src: url('https://dl.dropboxusercontent.com/s/ieuxwspibc6iq0m/Franklin%20Gothic.woff2?raw=1') format('woff2'), url('https://dl.dropboxusercontent.com/s/goszassoxtd737r/Franklin%20Gothic.woff?raw=1') format('woff'), url('https://dl.dropboxusercontent.com/s/eyr52tx223rmnx1/Franklin%20Gothic.eot?raw=1') format('embedded-opentype'), url('https://dl.dropboxusercontent.com/s/czwktk2qgo6wr3t/Franklin%20Gothic.otf?raw=1') format('opentype');
       font-weight: 400;
       font-style: normal;
   }

   @font-face {
       font-family: 'FrankGothMed';
       src: url('https://dl.dropboxusercontent.com/s/8f2rmpvfw49q3p1/Franklin%20Gothic%20Medium.woff2?raw=1') format('woff2'), url('https://dl.dropboxusercontent.com/s/rfk4uodjs5ft3e4/Franklin%20Gothic%20Medium.woff?raw=1') format('woff'), url('https://dl.dropboxusercontent.com/s/pt0p7hl4w5jg9f8/Franklin%20Gothic%20Medium.eot?raw=1') format('embedded-opentype'), url('https://dl.dropboxusercontent.com/s/1238uybken8qs6b/Franklin%20Gothic%20Medium.otf?raw=1') format('opentype');
       font-weight: 400;
       font-style: normal;
   }


   /***Aldine***/
   @font-face {
       font-family: 'Aldine 721';
       src: url('https://dl.dropboxusercontent.com/s/v18p6s2p5qusbge/Aldine_721_Bold_Condensed.ttf?raw=1') format('truetype'), url('https://dl.dropboxusercontent.com/s/5h1folaliq6puhc/aldine_721_bold_condensed-webfont.woff2?raw=1') format('woff2'), url('https://dl.dropboxusercontent.com/s/pasuxe52v5n5l7x/aldine_721_bold_condensed-webfont.woff?raw=1') format('woff'), url('https://dl.dropboxusercontent.com/s/48hhrrqx293qgye/aldine_721_bold_condensed-webfont.eot?raw=1') format('embedded-opentype'), url('https://dl.dropboxusercontent.com/s/ngjdd2b047sc5l7/aldine_721_bold_condensed-webfont.svg?raw=1') format('svg');
       font-weight: normal
   }
